ultralytics==8.2.103
opencv-contrib-python>=4.11.0.86
numpy>=1.26
filterpy>=1.4.5
torch>=2.2
scipy>=1.11
scikit-learn>=1.4
lapx>=0.5.10
ffmpeg-python>=0.2.0
rich>=13.7
pyyaml>=6.0.1
deep-sort-realtime>=1.3.1
tqdm>=4.66
pandas>=2.2
easyocr>=1.7
torchvision>=0.17
